/* .App {
  text-align: center;
} */


/* .App-header {
  background-color: #222;
  height: 5vh;
  padding: 20px;
  color: white;
} */

/* .App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
} */

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

body {
  background-image: url("/images/newspaper.jpg");
}

.floatright {
  float: right;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}
.fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}